@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
html {
  scroll-behavior: smooth;
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Navbar */

.navbar-light .navbar-nav .nav-link {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  
}

.navbar-nav {
  font-size: 1.125rem;
  text-align: right;
}
.white-navbar {
  background-color: #fff;
}
#brand-logo {
  width: 60px;
  height: 60px;
}

span.navbar-text {
  margin: auto;
  color: #000000 !important;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* Hero image */

#home-header {
  background: url('/static/images/woman.jpg') no-repeat center;
  background-size: cover;
  height: 37rem;
}

.main-heading {
  margin-top: 10rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #084298 !important;
  text-shadow: 0.07rem 0.07rem #fafafa;
}

.section-p {
  font-family: 'Montserrat', sans-serif;
  color: #212529;
  font-size: 1.2rem;
}

.section-heading-1 {
  font-size: 2rem;
  margin-top: 5rem;
}

.btn-login {
  background-color: #56C3D4;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

.timer-heading {
  color: #212134;
  font-size: 1.5rem;
}

.timer-svg {
  height: 50%;
  width: 50%;
  position: absolute;
  z-index: -1;
}

/* Blog page */
#news-header {
  background: url('/static/images/news.jpg') no-repeat center;
  background-size: cover;
  height: 40rem;
}

.sub-heading {
  color: #fafafa;
  text-shadow: 0.25rem 0.25rem 0.7rem #343a40;
  font-size: 1.5rem;
}

.bg-add-blog {
  background-color: #88bfc440;
}

.blog-input {
  width: 16rem;
}

#timer-header {
  background: url('') no-repeat center;
  background-color: #CEEBEA;
  background-size: cover;
  height: 42rem;
}

.timer-overlay {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background: #b7a90c;
  mix-blend-mode: overlay;
}

.wave {
  border-radius: 56% 44% 69% 31% / 43% 56% 44% 57% ;
}

.section-heading {
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.article-image {
  height: 50%;
  width: 50%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.post .article-header {
  margin-bottom: 0.94rem;
}

.article-post {
  width: 85%;
  margin-bottom: 4rem;
}

.article-post .article-content {
  -webkit-box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.15);
  padding: 1.875rem;
  position: relative;
  background: #fff;
  margin-top: -4.68rem;
}

.article-post .article-overlay {
  position: relative;
  left: 1.35rem;
  margin-bottom: 0;
}

.article-post .article-overview p:last-of-type {
  margin-bottom: 0;
}

.article-post .article-footer {
  border-top: 1px solid #ebebeb;
  padding-top: 0.94rem;
  margin-top: 1.25rem;
}

.card-img-top {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-card-title a {
  color: #439B94;
}

.footer-link>a {
  color: #56C3D4;
}

.article-post .article-footer .footer-meta a i {
  font-size: 1rem;
  margin-left: 0.125rem;
}

.article-link {
  color: #439B94;
}

.article-link:hover {
  color: #2f7f79;
}

/* Footer */
footer {
  background-color: #377180;
  width: 100%;
}

#copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-email a, .footer-phone a {
  color: #fafafa;
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

.para-center {
  padding-top: 3rem;
}

.media-text {
  padding-left: 1.5rem;
}

.social-media > a {
  color: #fafafa;
  font-size: 1.5rem;
  padding-right: 0.3rem;
}

.modal-content {
  background-color: #2A5D65;
}

.form-control {
  color: #FFF !important;
}

.form-floating {
  color: #FFF !important;
}

.error-button {
  background-color: #3BBFCE;
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

/*Gaff's error page layout*/
.sign-out-icon {
  color: #3BBFCE !important;
}

/* Media Queries */
/* Display on tablet devices */ 
@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .timer-svg {
      height: 40%;
      width: 40%;
      margin-right: 5rem;
    }

    .blog-input {
      width: 30rem;
    }
    .bg-add-blog {
      height: 70vh;
    }
  }
  
/* Timer */
.icon {
  color: #3BBFCE;
  cursor: pointer;
}

.video {
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
}

.video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 100%;
  min-height: 100%;
}

/* APP */
.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas:
  "a a a a s s s s s"
  "a a a a s s s s s" 
  "d d d d s s s s s" 
  "d d d d s s s s s";

  transition: opacity 500ms ease-in-out;
}
.inactive {
  opacity: 0;
}

/* AUDIO */
.audio {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio img {
  width: 50px;
  cursor: pointer;
}

.audio .progress {
  width: 223px;
  height: 228px;
  position: relative;
  margin: 0 40px;
  padding: 13px;
}

.audio .progress svg {
  width: 200px;
  height: 200px;

  transform: rotate(45deg);

  position: absolute;
  z-index: -1;
}

.audio .progress .audio-remaining-time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  font-family: "Segoe UI",sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

/* DURATIONS */
.durations {
  grid-area: d;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0 25%;
}

.durations .duration {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.durations .duration img {
  width: 75px;
  cursor: pointer;

  filter: drop-shadow(0px 0px 15px #222);
}

.durations .duration p {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;

  color: #fff;

  margin-top: 5px;

  text-shadow: 0 0 15px #222;
}

/* SEASONS */
.seasons {
  grid-area: s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 13rem;
  margin-right: 3rem;
}

.seasons .season img {
  width: 75px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 15px #222);
}

/* TOGGLE MENU */
.toggle-menu {
  display: none;
}

.progress {
  background-color: transparent!important;
}
  
/* FOR SMALL SCREENS */
@media only screen and (min-width: 320px) and (max-width: 823px){
  /* VIDEO */
  .video video {
      height: 100%;
  }

  /* APP */
  .app {
      grid-template-areas:
            "a"
            "a" 
            "a"
            "d";
  }

  .progress {
    background-color: transparent!important;
  }

  /* AUDIO */
  .audio {
    margin-right: 24px;
  }

  .audio .progress {
    width: 193px;
    height: 190px;
    margin: 0 10px;
    padding: 12px;   
  }
  .audio .play img,
  .pause img {
      width: 40px;
  }

  .audio .progress svg {
      width: 175px;
      height: 175px;
  }

  .audio .progress .rect1,
  .rect {
      width: 125px;
      height: 125px;
  }

  .audio .progress .audio-remaining-time {
      font-size: 1.75rem;
  }

  /* DURATIONS */
  .durations {
      padding: 0 10%;
      margin-right: 15px;
  }

  .durations .duration img {
      width: 60px;
  }

  .durations .duration p {
      font-size: 1rem;
  }

  /* SEASONS */
  .seasons {
      position: absolute;
      top: 20%;
      font-size: 14px;
      left: -215px;
      flex-direction: row;
      background-color: #4A8493;
      border-radius: 0 5px 5px 0;
      transition: left 500ms ease-in-out;
  }

  .open {
      left: 0;
  }

  .seasons .season {
      margin-left: 10px;
  }

  .seasons .season img {
      width: 50px;
      filter: none;
  }

  /* TOGGLE MENU */
  .toggle-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin-left: 10px;
      border-radius: 50%;
      transition: all 500ms ease-in-out;
  }

  .rotate {
      transform: rotate(180deg);
  }

  .toggle-menu:hover {
      background-color: rgba(0, 0, 0, 0.2);
      cursor: pointer;
  }

  .toggle-menu img {
      width: 20px;
  }
}

/* Display on large devices */
@media screen 
  and (min-width: 1024px) {
    .error-container {
      text-align: center;
      font-size: 11.25rem;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      background-color: #EFFAFB;
    }

    #button-block {
      margin-top: -9rem;
    }

    .main-heading {
      margin-top: 14rem;
      font-size: 3rem;
      font-weight: 500;
      color: #084298 !important;
    }

    .section-heading {
      font-size: 2.1rem;
      margin-top: 6rem;
    }

    .blog-input {
      width: 30rem;
    }

    .timer-svg {
      position: absolute;
      margin-left: 10rem;
    }    
  }

/* LOGIN PAGE */

.card-login {
  background-color:#2A5D65;
  height: 54vh;
  padding: 20px 50px;
}

.form-control, #remember-me {
  background-color: #ffe0;
  border: 1px solid #ced4da00;
  border-bottom: 1px solid #FCFAFA;
}

.control-label {
  color: #FCFAFA;
  margin-top: 3px;
}

#remember_me_label {
  margin-top: 30px;
  color:#FCFAFA;
}

.btn-outline-info {
  color: #0dcaf0;
}

.header-style {
  color:#FCFAFA;
  letter-spacing: 2px;
}

.font-style, .control-label, #remember_me_label {
  color: #fafafa;
}

.font-style-link {
  color: #B9DE54;
  font-weight: 500;
}

.font-style-link:hover {
  color: #3BBFCE;
}

.form-control:focus {
  background-color:#2d7580eb!important;
  border:none;
  box-shadow: none;
}

/* Home page card's styling */
.card {
  background-color: transparent!important;
  margin: 56px 0;
}

.card-body {
  background-color: transparent!important;
}


/* Resources Page */
#resource-header {
  background: url('/static/images/resources.jpg') no-repeat center;
  background-size: cover;
  height: 40rem;
}

#bg-app {
  background-color: #ecf6e7 !important;
}

#resources-header {
  background-color: #4a8493;
  text-align: center;
  margin: 0 auto 0 auto;
  padding: 10px 0;
  width: 40%;
  border-radius: 20px;
}

.card {
  background-color: #fff !important;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}

.zoom:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
}

#card-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  column-count: 3;
}

/* --- // Message Chips (Flask Flash Messages) */
.message-success {
  color: #FFFFFF;
  background-color: #26A69A;
}

.message-info {
  color: #FFFFFF;
  background-color: #37474F;
}

.message-warning {
  color: #FFFFFF;
  background-color: orange;
}

.message-danger {
  color: #FFFFFF;
  background-color: #d81b60;
}

.help-block {
  color: #FFFFFF;
  background-color: #d81b60;
}
