{% extends "flask_user_layout.html" %}

{% block content %}

<section class="d-flex align-items-center m-3 blog-form" id="form-h">
    <div class="container-fluid w-100">
        <div class="row d-flex justify-content-center h-100">
            <div class="col-sm-7 col-lg-5 col-centered card-login shadow rounded card-background">
                <h2 class="text-center text-uppercase text-white">Add a blog post</h2>
                <div class="row">
                    <form action="{{ url_for('save_blog') }}" method="POST" class="row g-3">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <div class="text-white">
                            <label for="title">Blog Title</label>
                            <input id="title" name="title" type="text" class="blog-input" maxlength="200" required>
                        </div>
                        <div class="text-white">
                            <label for="short_description">Blog Description</label>
                            <textarea id="short_description" name="short_description" class="blog-input" maxlength="1500"></textarea>
                        </div>
                        <div class="text-white">
                            <label for="comments">Blog Comments</label>
                            <textarea id="comments" name="comments" class="blog-input" maxlength="3000"></textarea>
                        </div>
                        <div class="text-white">
                            <label for="image">Blog image</label>
                            <input id="image" name="image" type="text" class="blog-input" maxlength="200" required>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-outline-info wave text-uppercase float-end" 
                                name="action">ADD BLOG</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}